.slideshow-container {
    max-width: 1550px;
    position: relative;
    margin: auto;
    max-height: 400px;
}

.mySlides img {
    width: 100%;
    height: 400px;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fadeMove;
    animation-duration: 1.5s;
}

@keyframes fadeMove {
    from {
        opacity: 0.4;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
@media (max-width: 1240px) {
    .banner_container{
        display: none;
    }
}
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0px;
}