.slideshow-container {
    max-width: 1550px;
    position: relative;
    margin: auto;
}
.active {
    background-color: #717171;
}
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}