:root {
    --background: #e4e4e4;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #ffffff;
    --navbar-dark-secondary: #000000;
    --navbar-light-primary: #1b1c1d;
    --navbar-light-secondary: #010203;
  }
  
  html, body {
    margin: 0;
    background: var(--background);
  }

  .login-form {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}
