:root {
    --background: #e4e4e4;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #ffffff;
    --navbar-dark-secondary: #000000;
    --navbar-light-primary: #1b1c1d;
    --navbar-light-secondary: #010203;
  }
  
  html, body {
    margin: 0;
    background: var(--background);
  }